extends layout.pug

block content
  .row
    .tabbable
      ul.nav.nav-pills.nav-stacked.col-md-2
        li
          a(href='#main', data-toggle='tab') Welcome

        -var index = 0
        each val, key in labs
          li
            a(href=`#${key}`, data-toggle='tab') #{key}
          -index++

      .tab-content.col-md-10
        .tab-pane(id='main', class='active')
          h3 Personal Lab Notes
          h4 CS655: Compiler Implementation Laboratory 
          p Spring 2021
          p Seyedamirhossein Hesamian
          p
            a(href="mailto:hesamian@uwm.edu") hesamian@uwm.edu
          h3
          .row
            .col-md-4
              .thumbnail
                a.img-responsive(href='https://docs.scala-lang.org/', target='_blank')
                  img(src='/public/scala.svg' alt='Scala' style='height:10rem')
                  .caption
                    p(style="text-align: center") Scala programming language
            .col-md-4
              .thumbnail
                a.img-responsive(href='https://github.com/djspiewak/scala-bison', target='_blank')
                  img(src='/public/bison.svg' alt='Bison' style='height:10rem')
                  .caption
                    p(style="text-align: center") Scala/Bison/Lex for lexer and parser
            .col-md-4
              .thumbnail
                a(href='https://en.wikipedia.org/wiki/Cool_(programming_language)', target='_blank')
                  img.img-responsive(src='/public/cool.svg' alt='Cool' style='height:10rem')
                  .caption
                    p(style="text-align: center") Cool programming language

        -var index = 0
        each val, key in labs
          .tab-pane(id=key)
            a.btn.btn-default.pull-right(href=`${val.pdf}`, style="margin-bottom: 1rem") Download PDF

            - if (val.video) {
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src=`${val.video}`, frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            -}

            |!{val.md}

          -index++
